
# 주의사항:
# (1) "", ''로 value를 감싸면 안됩니다.
# (2) .tsx 에서 사용하는 key는 REACT_APP_ 으로 시작해야 합니다.
# 단, .ts는 위 규칙에 해당되지 않습니다.

# external access path
REACT_APP_EXTERNAL_HOST=localhost
# external access port
REACT_APP_EXTERNAL_PORT=3000

