# DOCKER
NODE_ENV="prod"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="transcendence"
PGADMIN_DEFAULT_EMAIL="pong@42.fr"
PGADMIN_DEFAULT_PASSWORD="postgres"
# NGINX
NGINX_HOST=localhost
NGINX_PORT=3000
# + backend .env
# APP
APP_HOST="localhost"
APP_PORT="5000"
# POSTGRES
PG_HOST="postgres"
PG_PORT="5432"
PG_USER_NAME="postgres"
PG_PASSWORD="postgres"
PG_DATABASE="transcendence"
# REDIS
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="RedisIsGood"
REDIS_SESSION_DB="0"
REDIS_SOCKET_DB="1"
# JWT
JWT_SECRET="sungjpar"
JWT_EXPIRES_IN="8d"
# FT
FT_CLIENT=""
FT_SECRET=""
FT_CALLBACK="/api/auth/redirect/42"
# OTP
OTP_SECRET="test"
# image
IMAGE_STORAGE_PATH="storage/images"