# EXTERNAL HOST:PORT
EXTERNAL_HOST="localhost" # external access path
EXTERNAL_PORT="3000" # external access port
NODE_ENV="dev"
# POSTGRESQL
POSTGRES_HOST="localhost" # container service name
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="transcendence"
# PGADMIN
PGADMIN_DEFAULT_EMAIL="pong@42.fr"
PGADMIN_DEFAULT_PASSWORD="postgres"
# NGINX
NGINX_HOST="localhost"
NGINX_PORT="3000"
# APP
APP_HOST="api-server" # container service name
APP_PORT="3000"
# REDIS
REDIS_HOST="localhost" # container service name
REDIS_PORT_NUMBER="6379"
REDIS_PASSWORD="RedisIsGood"
REDIS_SESSION_DB="0"
REDIS_SOCKET_DB="1"
# JWT
JWT_SECRET="sungjpar"
JWT_EXPIRES_IN="8d"
# FT
FT_CLIENT="YOUR_INTRA_API_CLIENT"
FT_SECRET="YOUR_INTRA_API_SECRET"
FT_CALLBACK="/api/auth/redirect/42"
# OTP
OTP_SECRET="test"
# image
IMAGE_STORAGE_PATH="storage/images"