# APP
APP_HOST="localhost"
APP_PORT=""
# POSTGRES
PG_HOST="localhost"
PG_PORT="5432"
PG_USER_NAME=""
PG_PASSWORD=""
PG_DATABASE="transcendence"
# REDIS
REDIS_HOST="redis"
REDIS_PORT="6379"
# SESSION
SESSION_SECRET=""
# FT
FT_CLIENT=""
FT_SECRET=""
FT_CALLBACK"/auth/redirect/42"